.advantages {
    min-height: 470px;
    padding: 69px 0 78px 0;
    text-align: center;

    &__items {
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        min-height: 222px;
        width: 247px;
    }
    &__title {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
    }
    &__text {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 400;
        span {
            color: #ff0000;
        }
    }
}