@media (max-width: 990px){
    .container {
        max-width: 800px;
    };
};
@media (max-width: 850px) {
    .container {
        max-width: 700px;
    };
    .advantages {
        &__item {
            width: 200px;
        };
    };
};
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    };
    .advantages {
        &__item {
            width: 200px;
        };
    };
};
@media (max-width: 700px) {
    .container {
        max-width: 90%;
    };
    .promo {
        min-height: 600px;
        padding: 21px 0 50px 0;
    };
    .header {
        &__logo {
            img {
                width: 90%;
            }
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    };
    .advantages {
        &__items {
            flex-direction: column;
            justify-content: center;
        }
        &__item {
            width: 100%;
        }
    };
    .button {
        width: 100%;
        line-height: 2;
        font-size: 12px;
    };
};
@media (max-width: 640px) {
    .header {
        &__logo {
            width: 190px;
            height: 30px;
        };
        &__official {
            font-size: 10px;
            span {
                font-size: 12px;
            }
        };
    };
};
@media (max-width: 530px) {
    .header {
        flex-direction: column;
        height: 165px;
        &__logo {
            width: 250px;
            height: 45px;
        };
        &__official {
            font-size: 12px;
            span {
                display: inline;
                font-size: 15px;
            }
        };
        &__contacts {
            align-items: center;
        }
    };
    .button {
        margin-top: 5px;
    };
    .promo {
        &__icons {
            width: 100%;
        }
    };
    .title_left {
        font-size: 25px;
    }
};
@media (max-width: 450px) {
    .promo {
        &__header {
            font-size: 35px;
        }
    };
    .advantages {
        &__item {
            margin-top: 30px;
        };
    };
    .consultation {
        &__descr {
            font-size: 16px;
        }
    };
    .feed-form {
        width: 100%;
    };
};