@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    }